.content {
  position: relative;
  margin: 20px;
  padding: 20px;
}

section{
  margin: 20px;
  padding: 20px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

footer {
  bottom: 0;
  width: 100%;
}

a {
  color: purple;
  text-decoration: none;
}
a:hover {
  color: plum;
}
a:visited {
  color: purple;
}

div.border-decoration {
  position: absolute;
  border: solid 2em rgba(0, 0, 0, 0.2);
  background: url("https://www.joannadzierzbicka.pl/img/portfolio/8.png") 50% / cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}


@media (prefers-reduced-motion: reduce) {

}

